/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*General styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project style */
  color: #3a3a3a;
  font-family: "Lato", sans-serif;
}

/* h1 styles set to font, uppercase with 2px spacing and color 
Later moved position to current point and added h2 and h3 for same style*/
h1, h2, h3 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #252525;
}

/* Hide elements that we want Google search to find but do not want visible on the site with the hidden-heading class */
.hidden-heading {
  display: none;
}

/* header styles */
header {
  background-color: #ffffff;
  /*padding around the content inside the header*/
  padding: 0 1rem;
  /* Make header stay at the top of the page */
  position: fixed;
  /* Make header layered on top of other elements */
  z-index: 99;
  /* Make header take full width of the viewport */
  width: 100%;
  /*create a shadow below the header*/
  box-shadow: 0 2px 2px #3a3a3a;
  /* Use flexbox to align items inside the header */
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* style tag for any decendant of the header */
header a {
  text-decoration: none;
  color: inherit;
}



/* Navigation menu styles slightly larger font with 4px spacing and remove bullet points */
#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

/*target list items inside the navigation menu and display them spaced out vertically*/
#menu > li {
  margin-bottom: 1em;
}

/* style for active navigation link to show when user is on that particuar page - add bottom border */
.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;

  /* Make nav bar take full width of the viewport */
  width: 100%;
  /* Position nav bar aligned left directly below the header with the same box shadow */
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #3a3a3a;
  display: none;
  /* Position nav bar directly below the parent element, header */
  top: 100%;
}

/* Show nav bar when toggle is checked */
#nav-toggle:checked ~ nav {
  display: block;
}

/* Hide the checkbox used for toggling the nav bar */
#nav-toggle {
  display: none;
}

/* Style for the label used as the toggle button */
.nav-toggle-label {
  font-size: 2rem;
  cursor: pointer; /* indicate it's clickable */
  user-select: none; /* prevent accidental selection when tapping/clicking */
  display: inline-block;
  padding: 0.25rem 0.5rem;
}

/*  main content styles */
main {
  /* Make main element take all available space to push footer down */
  flex: 1 0 auto;
  margin-top: 47px;
}

/* Hero section styles */
#hero {
  height: 600px;
  width: 100%;
  background: url("../images/hero-image.webp") no-repeat center center/cover;
  position: relative;
}

#cover-text {
  /* Semi-transparent background for text readability */
  background-color: rgba(241, 109, 107, .7);
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
  color: #ffffff;
}


/* Reasons to love running section */
#reasons {
  width: 90%;
  margin: 20px auto;
}

#reasons h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%;
}

#benefits-physical>div,
#benefits-mental>div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#circle-cover-bg {
background: url("../images/reasons-image.webp") no-repeat top center / cover;
height: 90vw;
width: 90vw;
margin-bottom: 20px;
/* Make the image circular */
border-radius: 50%;
max-width:  300px;
max-height: 300px;
}

/* Center the image inside the circular background including when device screen is rotated */
#benefits-image {
  display: flex;
align-items: center;
justify-content: center;
}

/* Meetup times section */
#times {
  background: url("../images/dublin-city.webp") no-repeat center center/cover;
  /* Handles responsivivity without media queries */
  display: flex;
  flex-wrap: wrap;
}

#times div {
  color: #fafafa;
  /* Black semi-transparent background for text readability */
  background-color: rgba(0, 0, 0, .6);
  padding: 15px;
  text-align: center;
  /* Make each time block spread out across available width. 
  This will not wrap on screens less than 400px wide.
  Each times div will expand to fill available space on its row */
  flex-basis: 200px;
  flex-grow: 1;
  /* Make the meetings times view as a grid over the background image behind */
  border: 2px solid white;
}

/* override h3 color inside times section to be white */
#times h3 {
  color: #fafafa;
}

/* Gallery page styles */
#photos img {
  width: 100%;
  /* Maintain alt text readability */
  line-height: 1em;
}

/* Photos treated like text with auto spacing. Style below to remove space between images. 
This will affect alt text though, correction for this in style above */
#photos {
  line-height: 0;
}

/* footer styles */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
  display: block;
  position: relative;
  box-shadow: none;
  width: fit-content;
  padding-right: 1rem;
}

#menu {
  display: flex;
}

#menu > li {
  padding-left: 1rem;;
}

  /* Hide the nav toggle button on larger screens */
  .nav-toggle-label {
    display: none;
  }

  /* Larger logo font size */
  #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* main content */
  main {
    /* Push main content down to account for larger header */
    margin-top: 79px;
  }

  /* Hero section */
  #cover-text {
    width: 300px;
    right: 50px;
  }

  /* Reasons section */

  #benefits-physical,
  #benefits-mental {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  #benefits-physical > div,
  #benefits-mental > div {
    width: 75%;
  }

  #benefits-mental > div {
    text-align: right;
    align-self: flex-end;
  }
}

/* Media query: desktops and larger (992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover{
  border-bottom: 1px solid #3a3a3a;
  }
}

/* Media query: desktops and larger (1200px and up) */
@media screen and (min-width: 1200px) {
  /* Reasons section */
 #benefits {
   display: flex;
   flex-direction: row;
 }

 #benefits > div {
   flex: 1;
  }

  #benefits-image {
    order: 0;
  }

  #benefits-mental {
    order: 1;
  }

  #benefits-mental > div {
    align-self: flex-start;
  }

  #benefits-physical > div {
    align-self:   flex-end;
  }
  }
