/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}
/* header styles */
header {
    background-color: #ffffff;
    /*padding around the content inside the header*/
    padding:  0 1rem;
    /* Make header stay at the top of the page */
    position: fixed;
    /* Make header layered on top of other elements */
    z-index: 99;
    /* Make header take full width of the viewport */
    width: 100%;
    /*create a shadow below the header*/
    box-shadow: 0 2px 2px #3a3a3a;
}

/* style tag for any decendant of the header */
header a {
    text-decoration: none;
    color: inherit;
}

/* h1 styles set to font, uppercase with 2px spacing and color */
h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

/* Navigation menu styles slightly larger font with 4px spacing and remove bullet points */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/*target list items inside the navigation menu and display them spaced out vertically*/
#menu > li {
    margin-bottom: 1em;
}

/* style for active navigation link to show when user is on that particuar page - add bottom border */
.active {
border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;

/* Make nav bar take full width of the viewport */
    width: 100%;
/* Position nav bar aligned left directly below the header with the same box shadow */
    left: 0;
    padding: 0 1rem;
 box-shadow: 0 2px 2px #3a3a3a;
 display: none;
}

/*  main content styles */
main {
    background-color: lightblue;
/* Make main elemtent take all available space to push footer down */
    flex: 1 0 auto;
}
/* footer styles */
footer {
    background-color: orange;
}