/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200..700&display=swap');


/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* header styles */
header {
    background-color: lightcoral;
}
/*  main content styles */
main {
    background-color: lightblue;
/* Make main elemtent take all available space to push footer down */
    flex: 1 0 auto;
}
/* footer styles */
footer {
    background-color: orange;
}